{{define "content"}}

<div class="container">

    <h1>
        Strava to Calendar
    </h1>

    <p>
        <a href="{{proto}}://{{url}}/auth">
            <img src="{{proto}}://{{url}}/static/images/btn_strava_connectwith_orange@2x.png">
        </a>
    </p>

</div>

{{end}}