{{define "content"}}

<div class="container">

    <div class="jumbotron">

        <h1 class="display-3">Oops!</h1>

        <p class="lead">This is a bit embarrasing, it seems this page doesn't exist.</p>

        <hr class="my-4">

        <p>If you think it should exist, please <a href="mailto:christhebaron@gmail.com">let me know</a>. Otherwise
            click the button to go home.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{proto}}://{{url}}" role="button">Go Home</a>
        </p>

    </div>

</div>

{{end}}